@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');

$ts-blue: rgb(32, 167, 230);

$blackish: #2C3E50;
$info: #63c2de;
$danger: #f86c6b;
$warning: #ffc107;

$shadow: rgba(0,0,0,0.4);

$chatFont: "Raleway", sans-serif;
$headerFont: "Open Sans", sans-serif;